div#main-content-wrapper{
	align-items: flex-start;
	font-size: 16px;
}

fieldset {
	min-width: 300px;
	padding: 10px;
	border: 2px solid #06369e;
}

.main-info input {
	height: 30px;
	min-width: 150px;
	margin-bottom: 3px;
	border: 1px solid #a6a7ab;
}

td.reg-table {
	width: 250px;
}

.additional-info input{
	height: 30px;
	min-width: 150px;
	margin-bottom: 3px;
}

input:focus, textarea:focus {
	background-color: #8be6fc;
}

textarea {
	border: 1px solid #a6a7ab;
}

legend {
	font-weight: bold;
	font-size: 18px;
}

.massage-type-q1 {
	height: 25px;
	font-size: 16px;
}

#submit-button {
	width: 60px;
	font-weight: bold;
	height: 35px;
	border: 2px solid #06369e;
}

#submit-button:hover {
	background-color: #eb663d;
}

img {
	float: left;
	width: 50%;
}

