.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	flex-direction: row;
	width: 100%;
	padding: 5px;
 }

.main-content > div {
	max-width: 600px;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 15px;
}

.section-1 {
	padding: 5px; /*?????*/
}

img {
	float: left;
	width: 50%;
	margin-right: 10px;
	margin-bottom: 10px;
}

h3 {
	text-align: center;
	color: #10069e;
}

.work-time, .address {
	font-weight: bold;
}

#facebook-site {
	font-weight: bold;
	color: #10069e;
}

#contact-form {
	margin-left: auto;
	margin-right: auto;
}

#contact-form input {
	height: 35px;
	min-width: 55%;
	margin-bottom: 5px;
	border: 1px solid #a6a7ab;
	font-size: 15px;
}

#contact-form textarea {
	min-height: 180px;
	min-width: 85%;
	margin-bottom: 5px;
	border: 1px solid #a6a7ab;
	font-size: 15px;
}

#contact-form input:focus, #contact-form textarea:focus {
background-color: #8be6fc;
}

#contact-form-submit {
	font-size: 15px;
	width: 60px;
	font-weight: bold;
	height: 35px;
	border: 2px solid #06369e;
}

#contact-form-submit:hover {
	background-color: #eb663d;
}
