/*TODO: full reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0;
	font-family: 'Raleway', sans-serif;
}

/* GENERAL */

div#whole-page-container {
	margin: 2px;
	max-width: auto;
	height: auto;
	padding: 10px;
	background-image: linear-gradient(390deg, rgb(243, 107, 55) 0%, rgb(243, 107, 55) 23%,rgb(244, 133, 60) 23%, rgb(244, 133, 60) 27%,rgb(245, 159, 64) 27%, rgb(245, 159, 64) 73%,rgb(245, 186, 69) 73%, rgb(245, 186, 69) 74%,rgb(246, 212, 73) 74%, rgb(246, 212, 73) 78%,rgb(247, 238, 78) 78%, rgb(247, 238, 78) 100%);
}

div#heading {
	margin-bottom: 30px;
	text-align: center;
	color: #10069e;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-size: 20px;
}

div#navigation {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: space-between;
	align-content: space-between;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #10069e;
}

a.navigation-items {
	padding: 15px;
	font-size: 20px;
}

a.navigation-items:hover {
	color: #9e068f;
	background-color: #fcfcd7;
}

a.navigation-items, a.website-heading {
	text-decoration: none;
}

div#main-content-wrapper {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

div#footer {
	height: 70px;
	margin-top: 15px;
}

#copyright {
	text-align: left;
	font-size: 15px;
}

.facebook-logo {
	width: 30%;
	float: right;
	max-width: 50px;
	padding: 5px;
}

