.main-content {
	/*border: 2px solid red;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	flex-direction: row;
	width: 100%;
 }

.main-content > div {
	/*border: 2px solid blue;*/
	max-width: 570px;
	width: 90%;
	margin-bottom: 10px;
	padding: 10px;
}

img {
	float: left;
	width: 50%;
	margin-right: 10px;
	margin-top: 10px;
}

p {
	margin-top: 10px;
}

h3 {
	text-align: center;
	color: #10069e;
}

th {
	height: 40px;
	text-align: left;
	color: #10069e;
	background-color: #f6ff8f;
}

th, td {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	width: 250px;
}

tr:hover {
	background-color: #f6ff8f;
}
